@charset "utf-8";
#map{
    margin: 0 auto;
    border: 1px solid #000;
    font-size: 0;
}
span{
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #000;
}
span.snake{background: blue;}
span.food{background: yellow;}